section.container{
	width:1200px;
	overflow: hidden;
	min-height:700px;
	background-color: darkgray;
	margin:0 auto;
}
section.slider{
	width:2000px;
	position: relative;
	min-height:450px;


}
section.back{
	position: absolute;
	width: 1200px;
	z-index: 2;
	min-height:200px;
	-webkit-animation: mymove 3s ;
	-webkit-animation-play-state:paused;
	-webkit-animation: mymoveleft 3s ;
	-webkit-animation-play-state:paused;
}
section.front{
	position: absolute;
	z-index: 3;
	width:1400px;
	min-height:300px;
	top:150px;
	-webkit-animation: mymove 2s ;
	-webkit-animation-play-state:paused;
	-webkit-animation: mymoveleft 2s ;
	-webkit-animation-play-state:paused;




}
section.dots{
	position: absolute;
	width:1200px;
	z-index: 3;
}
div.student{
	float: left;
	background-image: url('images/student.png');
	width: 156px;
	min-height:207px;
	margin-left: 100px;
}
div.delivery{
	float: right;
	background-image: url('images/delivery.png');
	min-height: 190px;
	width:200px;
	margin-right: 70px;
}
div.freespace{
	margin-right: 160px;
	margin-left: 200px;
}
div.dragonboat{
	float: left;
	background-image: url('images/dragonboat.png');
	width:210px;
	min-height:260px;
	margin-left: 20px;
	margin-right: 120px;
}
div.nurse{
	float: left;
	background-image: url('images/nurse.png');
	width:232px;
	min-height:270px;
	margin-right: 120px;
}
div.ford{
	float: right;
	background-image: url('images/ford.png');
	width:205px;
	min-height:255px;
	margin-right: 50px;

}
div.police{
	margin-right: 100px;
	margin-left: 700px;
	min-height:295px;
	background-image: url('images/police.png');
	background-repeat: no-repeat;
}
section.slider section.left{
	position: absolute;
	width:100px;
	min-height:450px;
	background-color:red;
	
	z-index: 5;
	left:0;
	top:0;
}
section.slider section.right{
	position: absolute;
	width:100px;
	min-height:450px;
	background-color:black;
	
	z-index: 4;
	left:1050px;
	top:0;
}
@-webkit-keyframes mymove
{
	from{ left: -1050px;}
	to{ left:-1150px;}
}
@-webkit-keyframes mymoveleft
{
	from{ left: -1050px;}
	to{ left: -850px;}
}
section.right section.back{
	left:-1050px;
}
section.right section.front{
	left:-1000px;
}
.left:hover .front{
	-webkit-animation-name:mymoveleft;
	-webkit-animation-play-state: running;

}
.left:hover .back{
	-webkit-animation-name:mymoveleft;
	-webkit-animation-play-state: running;
}
.right:hover .front{
	-webkit-animation-name:mymove;
	-webkit-animation-play-state: running;

}
.right:hover .back{
	-webkit-animation-name:mymove;
	-webkit-animation-play-state: running;

}






